html, body {
	font-family: monospace;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#left {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10em;
	border-right: 1px dashed black;
}

#windows  {
	padding: 0.5em;
}

#windows div {
	padding: 0.5em;
	border-bottom: 1px dashed gray;
}

#nicks {
	position: absolute;
	bottom: 0;
	width: 10em;
	padding: 0.5em;
}

#nicks div {
	padding: 0.1em;
}

#right {
	position: absolute;
	left: 10em;
	right: 0;
	top: 0;
	bottom: 0;
}

#top {
	position: absolute;
	height: 1em;
	left: 0;
	right: 0;
	padding: 1em;
	border-bottom: 1px dashed black;
}

#github {
	position: absolute;
	right: 1em;
}

#scrollback {
	position: absolute;
	padding: 0.5em;
	top: 3em;
	bottom: 3em;
	left:0;
	right:0;
	overflow: scroll;
}

#scrollback span {
	padding: 0.1em;
	float: left;
	clear: both;
}

#bottom {
	position: absolute;
	bottom: 0;
	line-height: 2em;
	left: 0;
	right: 0;
	padding: 0 0.5em;
	border-top: 1px dashed black;
}

#channelName {
	width: 7em;
}
#channelName:before {
	content:'[';
}
#channelName:after {
	content:']';
}


#input {
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	font-size: 1.1em;
	font-family: monospace;
	position: absolute;
	left: 7em;
	right: 1em;
}

